[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pyjwt = "*"
pydantic-settings = "*"
mysqlclient = "*"
sqlalchemy-utils = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
googlefinance = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
sqlalchemy-stubs = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"

[scripts]
start = "uvicorn main:app --reload"
